//    Design & Development By: Julkar N. Nahian
//    Author: Julkar N. Nahian
//    Author URL: www.jnahian.com
//    Author Email: nahian048@gmail.com

// ==================================================== //

@mixin radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}


@mixin transition($duration: .3s) {
	-webkit-transition: all linear $duration;
	-moz-transition: all linear $duration;
	-ms-transition: all linear $duration;
	transition: all linear $duration;	
}


@mixin scale($val: 1.2) {
	-webkit-transform: scale($val);
	-moz-transform: scale($val);
	-ms-transform: scale($val);
	transform: scale($val);
}

@mixin rotate($val) {
	-webkit-transform: rotate($val);
	-moz-transform: rotate($val);
	-ms-transform: rotate($val);
	transform: rotate($val);
}

@mixin translateX($val) {
	-webkit-transform: translateX($val);
	-moz-transform: translateX($val);
	-ms-transform: translateX($val);
	transform: translateX($val);
}
   
@mixin translateY($val) {
	-webkit-transform: translateY($val);
	-moz-transform: translateY($val);
	-ms-transform: translateY($val);
	transform: translateY($val);
}

@mixin translateZ($val) {
	-webkit-transform: translateZ($val);
	-moz-transform: translateZ($val);
	-ms-transform: translateZ($val);
	transform: translateZ($val);
}

@mixin scrollUp($dur: 30s) {
	animation: scrollup $dur linear infinite;
}

@mixin bgOpacify($col, $opacity: .5) {
	background: rgba(red($col), green($col), blue($col), $opacity);
}

@mixin blur() {
	filter: blur();
}
