$bgcolor: #247fbc;
$goocolor: #ffffff;
$bigsize:60px;
$smallsize:30px;
$containerwidth: 100;
$animoffset:150px;
$animtime:2.5s;
$containerheight:$bigsize*2;

.loader {
	filter:url('#goo');
	position:relative;
	width:$containerwidth;
	height:$containerheight;
	&::after { //big goo in middle
		content:'';
		display:block;
		width:$bigsize;
		height:$bigsize;
		border-radius:50%;
		background:$goocolor;
		margin:0 auto;
		position:absolute;
		top:$containerheight/2 - $bigsize/2;
		left:$containerwidth/2 - $bigsize/2;
		animation:scale $animtime ease-in-out infinite;
	}
	div {
		position:absolute;
		width:$smallsize;
		height:$smallsize;
		border-radius:50%;
		background:$goocolor;
		top:$containerheight/2 -$smallsize/2;
		left:$containerwidth/2 - $smallsize/2;
		animation:move $animtime ease-in-out infinite alternate;
		&::after, &::before {
			content:'';
			display:block;
			position:absolute;
			width:$smallsize;
			height:$smallsize;
			border-radius:50%;
			background:$goocolor;
		}
		&::before {
			left:$smallsize*-2.5;
		}
		&::after {
			left:$smallsize*2.5;
		}
	}
}

@keyframes move {
	0% {
		transform:translateX($animoffset*-1);
	}
	100% {
		transform:translateX($animoffset);
	}
}

@keyframes scale {
	10% {
		transform:scale(1);
	}
	50% {
		transform:scale(1.25);
	}
	90% {
		transform:scale(1);
	}
}

html, body {
	background: $bgcolor;
	width:100%;
	height:100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow:hidden;
}

svg { //Firefox bug fix
	position:absolute;
	z-index:-100;
	pointer-events:none;
}